<% include ./partials/header.ejs %>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        this is one of your stash items. really.
      </div>
    </div>
  </div>

<% include ./partials/footer.ejs %>