 <% include ./partials/header.ejs %>
 
  <div class="container-fluid">
    <div class="container">

      <!-- header for the inventory page -->
      <div class="row">
        <div id="invNav" class="col-sm-12">
          <a href="/logout" class="btn btn-primary active pull-right" role="button">Log out</a>
        </div>
      </div>  

      <!-- the actual inventory and add-stash form -->
      <div class="row">

        <!-- the user's inventory is listed here -->
        <div class="col-sm-12 col-md-6">
          <h2>Your stash:</h2>
          <div class="list-group">
          </div>
        </div>

        <!-- form used to add a new item to the user's stash -->
        <div class="col-sm-12 col-md-6">
          <form method="post" action="/inventory">
            <h2>Add to your stash?</h2>

            <div class="form-group">
              <label for="item">Item</label>
              <input class="form-control" type="text" name="item" id="item" placeholder="what do you want to call this?" autofocus required>
            </div>

            <!-- the list of breeds is generated from the breed API in inventoryPage.js -->
            <div class="form-group">
              <label for="primary">Main fiber</label>
              <select id="primary" class="form-control" required>
              </select>
            </div>

            <div class="form-group">
              <label for="others">Other fibers</label>
              <input class="form-control" type="text" name="others" id="others" placeholder="list other fibers, separated by commas">
            </div>

            <div class="form-group">
              <label for="fiberForm">Fiber form</label>
              <select id="fiberForm" class="form-control">
                <option value="roving" selected>roving</option>
                <option value="top">top</option>
                <option value="batt">batt</option>
                <option value="locks">locks</option>
                <option value="fleece">fleece</option>
              </select>
            </div>

            <!-- TODO: if Fiber form is fleece, show 2 radio buttons: raw, washed -->

            <div class="form-group">
              <label for="blend">Blend percentages</label>
              <select id="blend" class="form-control">
                <option value="not a blend" selected>not a blend</option>
                <option value="50/50">50/50</option>
                <option value="60/20/20">60/20/20</option>
                <option value-"70/30">70/30</option>
                <option value="80/20">80/20</option>
                <option value="90/10">90/10</option>
              </select>
            </div>

            <div class="row">
              <div class="form-group col-lg-6">
                <label for="quantity">How much do you have?</label>
                <input class="form-control" type="text" id="quantity" placeholder="4">
              </div>
              <div class="form-group col-lg-6">
                <label for="units">Units?</label>
                <select id="units" class="form-control">
                  <option value="ounces" selected>ounces</option>
                  <option value="pounds">pounds</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="colorFamily">Color family</label>
              <select id="colorFamily" class="form-control">
                <option value="natural" selected>naturals</option>
                <option value="reds">reds</option>
                <option value="oranges">oranges</option>
                <option value="yellows">yellows</option>
                <option value="greens">greens</option>
                <option value="blues">blues</option>
                <option value="purples">purples</option>
                <option value="neutrals">neutrals</option>
              </select>
            </div>

            <div class="form-group">
              <label for="dyeState">Dyed?</label><br>
              <label class="radio-inline">
                <input type="radio" name="dyeState" id="dyed1" value="no" checked> no
              </label>
              <label class="radio-inline">            
                <input type="radio" name="dyeState" id="dyed2" value="naturalDyes"> natural dyes
              </label>
              <label class="radio-inline">
                <input type="radio" name="dyeState" id="dyed3" value="synthetics"> synthetic dyes
              </label>
            </div>

<!--             <div class="form-group">
              <label for="glitz">Glitz?</label><br>
              <input type="radio" name="glitz" value="no" checked> no<br>
              <input type="radio" name="glitz" value="yes"> yes
            </div>
 -->
            <div class="form-group">
              <label for="glitz">Glitz?</label><br>
              <label class="radio-inline">
                <input type="radio" name="glitz" id="glitz1" value="no" checked> no
              </label>
              <label class="radio-inline">
                <input type="radio" name="glitz" id="gitz2" value="yes"> yes
              </label>
            </div>

            <div class="form-group">
              <label for="noils">Noils or neps or other chunky bits?</label><br>
              <label class="radio-inline">
                <input type="radio" name="noils" id="noils1" value="no" checked> no
              </label>
              <label class="radio-inline">
                <input type="radio" name="noils" id="noils2" value="yes"> yes
              </label>
            </div>

            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea class="form-control" id="notes" rows="3" placeholder="add anything you want to remember about this fiber!"></textarea>
            </div>

            <input id="addStash" class="btn btn-primary btn-block btn-lg active" type="submit" value="add to stash">
          </form>

        </div>
      </div>

    </div>
  </div>

  <script src="scripts/inventoryPage.js"></script>

<% include ./partials/footer.ejs %>