 <% include ./partials/header.ejs %>
 
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>this is your stash. really. <a href="/logout" class="btn btn-primary btn-sm active" role="button">Log out</a></h3>
        </div>
      </div>
      <div class="row">
        <div id="inventory" class="col-sm-12">
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="/addStash" class="btn btn-primary btn-lg btn-block active" role="button">Add to stash</a>
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/inventoryPage.js"></script>

<% include ./partials/footer.ejs %>