 <% include ./partials/header.ejs %>
 
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          this is your stash. really.
        </div>
        <div class="col-sm-12 col-md-6">
          <a href="/logout" class="btn btn-primary btn-lg btn-block active" role="button">Log out</a>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer.ejs %>