
/*****************
 * HTML elements *
 *****************/

body {
  margin: 20px auto; /* need a little more space top and bottom */
}

p {
  margin: 30px auto auto auto; /* need more room on top so things aren't squishy */
}


/*****************
 * basic classes *
 *****************/

.row {
  margin: 30px 0; /* more room top and bottom; default row margins are squishy */
}

